.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 600px;
  min-height: 520px;
  background-color: #ffffff;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.add-btn {
  height: 40px;
  padding-left: 0px;
  border-left-width: 10px;
}
.space {
  margin-right: 10px;
}

.todo-list {
  padding-left: 10px;
  padding-right: 10px;
}
